{% extends "_base3.html" %}
{% block title %} All Industrial Electric Supply Supports San Jose-based Recovery Center {% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}



    <h2 class="titles">Press releases</h2>
    <br />

    <div class="row spacer pages">
        <h4 style="text-align:center">
            All Industrial Electric Supply Supports San Jose-based Recovery Center
        </h4>
        <br>
        <p style="text-align:center">
            <img src="static/images/2013-1-1.jpg" alt="ncluding nonprofit organizations and community projects">
        </p>
        <br>
        <p>
            (Burlingame, CA, 4/30/2013) Since its founding in 2004, All Industrial Electric Supply has been committed to supporting the local community, including nonprofit organizations and community projects. 
        </p>
        <br>
        <p>
            When The Alano Club of San Jose was fined by the city last month for not having lenses over their kitchen lamps, the nonprofit turned to AIES, one of the largest <a href="http://www.allindustrialsupply.com/" title="electrical parts distributors">electrical parts distributors</a> in the San Francisco Bay Area.
        </p>
        <br>
        <p>
            The 12-step recovery support center was not in compliance with the city’s standards and had not been for quite some time. "We would have been in trouble if we didn’t get new fixtures or cover the old ones,” said club manager Tony Baron. “There’s always a threat of closure with city departments, and in theory the health department could have closed us down."
        </p>
        <br>
        <p>
            <img src="static/images/2013-1-2.jpg" alt="The 12-step recovery support center" style="float:left;margin-right:10px;">Tony reached out to AIES sales representative Jack Smith. Jack responded to Tony’s request right away and within two days The Alano Club received <a href="http://www.allindustrialsupply.com/search?q=pars+lighting" title="Pars Lighting">Pars Lighting</a> tube covers for its kitchen lights.  “Those tube covers were a lifesaver and satisfied the health department,” said Tony. “We will never be a big customer,” he added, “but All Industrial’s service was fantastic.”
        </p>
        <p style="clear:both">
            <br>
            All Industrial Electric Supply has a history of donating electrical parts to the local community. Most recently they donated $3,000 worth of light fixtures to training facility Diamond in the Rough Baseball in Belmont.
        </p>
        <p>
            <br>
            For more information about All Industrial Electric Supply’s community involvement, please email <a href="mailto:contactus@allindustrialsupply.com">contactus@allindustrialsupply.com</a>.
        </p>
        <p style="text-align:center">
            <br>
            <img src="static/images/2013-1-3.jpg" alt="San Jose-based Recovery Center">
        </p>
    </div>
  {% endblock %}