{% extends "_base3.html" %}
{% block title %} Tesla Praises All Industrial Electric Supply for Emergency Deliveries {% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


    <h2 class="titles">Press releases</h2>
    <br />

    <div class="row spacer pages">
        <h4 style="text-align:center">
            Tesla Praises All Industrial Electric Supply for Emergency Deliveries
        </h4>
        <p>
            (Burlingame, CA, 7/8/2013) All Industrial Electric Supply has a history of delivering the best <a href="http://www.allindustrialsupply.com/">electrical supplies</a> on a tight deadline. Just ask longtime customer <a href="http://www.teslamotors.com/">Tesla Motors</a>.
        </p>
        <br>
        <p>
            “I wanted to send over a quick note thanking you guys for busting your tails getting my department anything and everything we need,” one Tesla representative told the <a href="http://www.allindustrialsupply.com/team.html">AIES team</a> after they made an emergency delivery. “Also, getting me anything and everything in the most impossible of time frames.”
        </p>
        <br>
        <p>
            “I genuinely appreciate the hard work,” he added, “and it has helped me out of more binds than you guys can imagine.”
        </p>
        <br>
        <p>
            One instance of the electrical distributor’s excellent customer support took place at 7 a.m. one morning. The electrical vehicle manufacturer needed circuit breakers and other electrical components immediately. AIES’s driver had already left the warehouse, but outside sales rep Zack Isla and inside sales rep Nick Abbott were able to call him and get the truck to turn around, retrieve Tesla’s electrical supplies and deliver them to Tesla’s office in Fremont by 11 a.m.
        </p>
        <br>
        <p>
            All Industrial proved its customer commitment yet again when Tesla called Zack and Nick for 40,000 feet of data cable. Tesla’s rep called AIES at 2 p.m. on a Friday, telling them that several new hires would start work the following Monday. Their new cubicles needed wiring for data and communications – and the work needed to be completed before the new staff arrived.
        </p>
        <br>
        <p>
            “Most distributors wouldn’t be able to make that time frame,” Zack said.
        </p>
        <br>
        <p>
            But the AIES team was determined to satisfy Tesla’s needs. The warehouse already had the electrical cable in stock, and they were able to deliver the cable to Fremont by 5 p.m. Tesla was able to wire the new hires’ cubicles during the weekend and meet its deadline.
        </p>
        <br>
        <p>
            The Tesla rep was thrilled and grateful for All Industrial’s dedication to its customers. “You have a good team,” he told AIES CEO Alex Vaysberg, “and they have pulled my rear end out of the fire more than once."
        </p>
    </div>
  
{% endblock %}