{% extends "_base3.html" %}
{% block title %}Error | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES is a premier supplier of electrical supplies.  We have served the need for a quality industrial and commercial electrical parts distributor since 2004.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Error, 404, electric supply, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Error</a></h1>{% endblock %}
{% block bodyid %}<body id="bodyhome">{% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}
{% block bodycontent %}

    <div class="row mainbody">  <!-- Begin Main Body -->
        <h2 class="titles">Oops, you reached this webpage by mistake.</h2>
        <br />
        <p style="margin-left:12px;line-height:24px;">
            But don't worry; simply pick an option from the list below, and you'll be back to AIES in no time.
            <br />
            Hit the "back" button on your browser.
            <br />
            <a href="index.html">Head on over to the home page.</a>
        </p>
    </div>
			<br />
			<br />
			<br />
			<br />

	{% endblock %}