{% extends "_base3.html" %}
{% block title %}About Us | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES is a premier supplier of electrical supplies.  We have served the need for a quality industrial and commercial electrical parts distributor since 2004.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="About us, all industrial electric supply, electric supply, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">About Us</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">About Us</h2>
    <br />

    <div class="row spacer pages">
        <p>
            All Industrial Electric Supply (AIES) has served the critical need for a superior industrial, contractor, nationwide, and commercial electrical distributor since its inception in 2004. When it comes to electrical supplies, AIES is unsurpassed.
        </p>
        <br><h4>
            Save time, money and make your job easier
        </h4>
        <p>
            AIES brings a combination of price, inventory, and top quality service to offer you unparalleled value for your electrical supply purchases.
        </p>
        <br><h4>
            We have a large inventory
        </h4>
        <p>
            AIES has close to $7.5 million in local inventory and is a stocking distributor for multiple vendors.
        </p>
        <br><h4>
            We have unrivaled product access
        </h4>
        <p>
            Through the AIES network of companies, AIES can source almost any part at preferred prices - even parts that are obsolete.
        </p>
        <br><h4>
            Experience high touch service
        </h4>
        <p>
            With AIES, you get the personal attention of an assigned account manager with a <a href="contactus.html">direct line</a>. Service is available in the evening and on weekends.
        </p>
        <p>
            AIES works with you to achieve extra cost savings by consolidating purchases of major manufacturers. If you are new to AIES, we encourage you to visit and discover just how committed AIES is to serving your electrical needs.
        </p>
        <p>
            To help keep you aware of ever-changing technologies and safety compliance issues, AIES partners with manufacturers to conduct training or site visits that aim to address your specific problems or needs.
        </p>
        <br><h4>
            Our prices are highly competitive
        </h4>
        <p>
            As part of the IMARK Group with over $1 billion of annual aggregate purchasing power, AIES benefits from preferred pricing and passes the savings to you.
        </p>
        <br><h4>
            We are your sole source for all of your electrical supplies
        </h4>
        <p>
            With exceptional pricing, product access, inventory, and service, you can save time and money by consolidating your electrical parts purchases. One point of contact. One purchase order. One solution.
        </p>
    </div>
        <br />

	    {% endblock %}    
