{% extends "_base3.html" %}
{% block title %}Buy Electronic Parts &amp; Supplies | AIES{% endblock %}
{% block description %}
<meta name="description" content="AIES is a one-stop shop to clients wanting to buy premium electronic parts &amp; supplies. We have substantial inventory of products at competitive prices.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Electronic parts, electronic part, electronic supply, electronic supplies">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">All Industrial Electric Supply</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
<!-- Primary Page Layout================================================== -->
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


    <h2 class="titles">Electronic Parts and Supplies</h2>
    <br />

	<div class="row spacer pages">
        <h4>Electronic Parts and Supplies</h4>
        <p>All Industrial Electric Supply (AIES) is a top source of first-rate electronic 

			supplies distributing products for the brands America trusts. With over a decade in the business, you can count on our solid reputation to replenish your supply and make sure you maintain the necessary stock of components for your operations.</p>

        <br><h4>An Impressive Range of Components</h4>
        <p>
           Same as our electrical parts, our company takes pride in holding a large inventory of premium electronic components, allowing us to effectively cater to the varying needs of industrial facilities and commercial establishments. Astechnology rapidly advances, we strive to continuously expand our alreadyhuge array of items to keep pace with the ever-growing demands of theindustry.
        </p>
		<p>
		Our broad range of products goes beyond modern parts. We are the place to go for hard-to-find and obsolete electronic components. We know how challenging and frustrating it can be to shop for antiquated parts, which is why we are committed to put an end to your search through our surplus of superseded products.
		</p>
        <br><h4>
            Premium Products for Less
        </h4>
        <p>
            As a proud member of the IMARK Group—the largest member-owned and - governed cooperative of the American electrical industry—we allow you to buy electronic parts for a much affordable price. The benefits we receive from our membership makes it possible for us to keep our competitive pricing and help you save a significant amount in the process.
        </p>
        <br><h4>
            Accessible Anywhere in the Country
        </h4>
        <p>
           No matter where you are in the United States, AIES allows you to order and buy electronic supplies in a trouble-free manner. With our long-standing affiliations with the top vendors in the country, we give you access to high-quality components manufactured by hundreds of the top brands in America readily available and easily accessible.
        </p>
		<p>
		Entrust your electronic supply needs with the name you can trust. Contact us today for inquiries.
		</p>
	</div>
	
{% endblock %}			
