{% extends "_base3.html" %}
{% block title %}Electrical Parts Supply | AIES{% endblock %}
{% block description %}
<meta name="description" content="AIES is the top provider of first-rate electrical parts supply in America. Our comprehensive range of products is available at preferred prices.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Linecard, electrical parts, manufacturers, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">All Industrial Electric Supply</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
<!-- Primary Page Layout================================================== -->
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


    <h2 class="titles">Electrical Parts and Supplies</h2>
    <br />

	<div class="row spacer pages">
        <h4>Electrical Parts and Supplies</h4>
        <p>When it comes to premium electrical parts supply, All Industrial Electric 

Supply (AIES) is the team you can trust. We serve as your prime source of 

electrical supply solutions by delivering you access to the high-quality 

components designed and manufactured by the top brands in America.</p>
        <br><h4>A World of Quality Electrical Parts</h4>
        <p>
           As a nationwide distributor for more than 300 vendors, AIES stocks virtually

everything you need to replenish your stockroom or buy the electrical part

you require for a certain application. Be it the most popular components or 

obsolete items, you can find what exactly you need in our large inventory.
        </p>
        <br><h4>
           Growing Network of Vendors
        </h4>
        <p>
            Our extensive product selection is already impressive, but we are not

stopping there. We strive to further increase our network to expand our line

of products. AIES is committed to be the ultimate destination for all of your 

electrical supply essentials.
        </p>
        <br><h4>
           Great Savings on Every Solution
        </h4>
        <p>
          Whether you are buying electrical parts supply or wanting to repair your 

components, our solutions are designed to cut down your total costs. We

believe that minimizing the amount you have to pay for your electrical supply

is the basic way to streamline your operations while reducing your long-term 

expenses.
        </p>
		<p>
		Contact us today for inquiries.
		</p>
	</div>
			
{% endblock %}