{% extends "_base3.html" %}
{% block title %}Electrical Parts Supply Companies | AIES{% endblock %}
{% block description %}
<meta name="description" content="AIES is a premier electrical parts supply cmpany in America.  Our extensive inventory &amp; highly competitive pricing makes us stand out from other companies.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Electrical parts, electrical company, electrical part, electrical companies">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">All Industrial Electric Supply</a></h1>{% endblock %}
{% block bodyid %}<body id="bodyhome">{% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  
{% block bodycontent %}<div class="row mainbody">
<!-- Begin Main Body -->
<div xmlns:v="http://rdf.data-vocabulary.org/#"> 
 
<span typeof="v:Breadcrumb"> 
<a rel="v:url" property="v:title"href=" 
http://www.aies.com/about.html">ABOUT US</a> 
</span> 
<span typeof="v:Breadcrumb"> 
<a rel="v:url"property="v:title"href="http://www.aies.com/services.html 
">SERVICES</a> 
</span> 
<span typeof="v:Breadcrumb"> 
<a rel="v:url" property="v:title"href=" 
http://www.aies.com/contactus.html ">CONTACT</a> 
</span> 
</div> 


        <div class="slideshow columns" id="slides">
            <a href="/_newsletters/replace-your-fluorescent-lamps-with-led-in-four-easy-steps.html"><img src="../images/AIES_Banner1.jpg"></a>
            <a href="/_newsletters/klein-tools-ET510-borescope.html"><img src="../images/AIES_Banner2.jpg"></a>
            <a href="/_newsletters/need-a-portable-led-light-for-your-job-site.html"><img src="../images/AIES_Banner3.jpg"></a>
            <a href="/_newsletters/limited-time-discount-leviton-meters.html"><img src="../images/AIES_Banner4.jpg"></a>
            <a href="/_newsletters/leviton-medical-grade-power-strips.html"><img src="../images/AIES_Banner5.jpg"></a>
        </div>
        <div class="clear"></div>
        <div class="accordion nine columns">  <!-- Begin Accordion -->
            <div id="st-accordion" class="st-accordion">
                <ul>
                    <li>
                        <a href="#t1" class="tabs">
                            <b>Order any part, any manufacturer, any time</b>
                            <span>Open/Close</span>
                        </a>
                        <div class="st-content" id="t1">
                            <ul class="list">
                                <li>
                                    A local stocking distributor for over 300 vendors
                                </li>
                                <li>
                                    In excess of $7.5 million stock inventory
                                </li>
                                <li>
                                    Will source obsolete and hard-to-find products
                                </li>
                                <li>
                                    24/7 emergency service, call <span style="text-decoration:underline"><a href="tel:+16502494521" class="tel">650-249-4521</a></span>
                                </li>
                                <li>
                                    A “sole source” for all your electrical supply needs
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#t2" class="tabs">
                            <b>Repair, recalibrate, re-certify old parts</b>
                            <span>Open/Close</span>
                        </a>
                        <div class="st-content" id="t2">
                            <ul class="list">
                                <li>
                                    Assess and repair, often at a fraction of replacement cost <br /> &nbsp;&nbsp;&nbsp; —  Drives, PLCs, breakers, boards and controllers
                                </li>
                                <li>
                                    Extend the service life of your assets
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#t3" class="tabs">
                            <b>Control or reduce your costs</b>
                            <span>Open/Close</span>
                        </a>
                        <div class="st-content" id="t3">
                            <ul class="list">
                                <li>
                                    Free energy efficient assessments of your facilities
                                </li>
                                <li>
                                    Energy, fuse and lighting audits
                                </li>
                                <li>
                                    Inventory management, stock room maintenance & cleaning
                                </li>
                                <li>
                                    Consolidate purchases of major manufacturers
                                </li>
                                <li>
                                    Buy right - leverage our $1 billion per year IMARK Group purchasing power
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#t4" class="tabs">
                            <b>Exceptional customer services</b>
                            <span>Open/Close</span>
                        </a>
                        <div class="st-content" id="t4">
                            <ul class="list">
                                <li>
                                    Assigned account managers - with <a href="contactus.html">direct lines</a>
                                </li>
                                <li>
                                    Fast turnaround on quotes
                                </li>
                                <li>
                                    24/7 emergency service at no extra cost
                                </li>
                                <li>
                                    One point of contact, one purchase order, one solution for all your orders
                                </li>
                                <li>
                                    “Lunch and Learns” to keep you abreast of latest technologies and safety compliance issues
                                </li>
                                <li>
                                    Joint meetings with specialized vendors to solve problems
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>  <!-- End Accordian -->
        
        <div class="one featured">
            <iframe class="youtube" width="400" height="260" src="//www.youtube.com/embed/kHlFd7zyuIc" frameborder="0" allowfullscreen></iframe>
            <img src="../images/mission.png" alt="Mission">       
<!--
             <a href="newsletters/replace-your-fluorescent-lamps-with-led-in-four-easy-steps.html" title="LED Replacement Lamps">
                <img src="static/images/LED-Replacement-Lamps.jpg" alt="LED Replacement Lamps" />
            </a>
 -->        
    </div>

    </div>  <!-- End Main Body -->

	<br /><br />
	    <div class="row sixteen columns manufacturers">
	        <div class="row" id="jcarousel">
	            <ul class="jcarousel" style="width:870px;height:60px;">
	                <li>
	                    <a>
	                        <img src="images/ls18.gif" alt="Wiegmann" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls19.gif" alt="Yaskawa" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls20.gif" alt="Wiremold" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls1.gif" alt="3M" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls2.gif" alt="Amprobe" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls3.gif" alt="Bridgeport" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls4.gif" alt="Cooper B-Line" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls5.gif" alt="GE Lighting" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls6.gif" alt="Holophane" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls7.gif" alt="Ideal" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls8.gif" alt="Cooper Crouse-Hinds" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls9.gif" alt="FSR" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls10.gif" alt="Leviton" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls11.gif" alt="LG Industrial" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls12.gif" alt="NSI Tork" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls13.gif" alt="Proface" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls14.gif" alt="Schmersal" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls15.gif" alt="Panduit" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls16.gif" alt="Southwire" />
	                    </a>
	                </li>
	                <li>
	                    <a>
	                        <img src="images/ls17.gif" alt="Sprecher Schuh" />
	                    </a>
	                </li>
	            </ul>
	        </div>
	    </div>


{% endblock %}
