{% extends "_base3.html" %}
{% block title %}Industrial Electrical Supplies | AIES{% endblock %}
{% block description %}
<meta name="description" content="AIES is a prime source of high-quality industrial electrical supplies in the US. We have almost any electric supply available, including obsolete parts.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Industrical electrical supply, industrical electrical supplies">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">All Industrial Electric Supply</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
<!-- Primary Page Layout================================================== -->
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


    <h2 class="titles">Industrial Electrical Supply</h2>
    <br />

	<div class="row spacer pages">
        <h4>Industrial Electrical Supply</h4>
        <p>Industrial facilities actually rely on the small things; electrical components that serve a particular role to keep the entire system functional. A single part fails could spell disaster and may seriously affect the way your operation works. While maintenance is essential, your stockroom should always have an adequate supply to keep everything running efficiently and safely.</p>
		<p> At AIES, our ultimate goal is to push your business forward by delivering you premium industrial electrical supplies and reduce downtimes in your operations for business continuity and greater revenues.</p>
        <br><h4>Trusted Partner of the Leading Brands</h4>
        <p>
           We pride ourselves in being the leading distributor of industrial electrical 

			components in the country. Our extensive network of vendors nationwide 

			lets us bring you the top-of-the-line of industrial electrical components 

			available in the market. We carry the most trusted brands in America, giving 

			you access to top-rated products. No matter what type of part you are

			looking for, you can rest assured to find it in our substantial inventory. Apart 

			from the most sought-after components, we also hold a huge inventory of 

			the obsolete products that typically hard to find in the market nowadays.
        </p>
        <br><h4>
            Unsurpassed Service Around the Clock
        </h4>
        <p>
            Our business does not sleep to cater to your needs. AIES delivers 24/7 

industrial electric supply solutions to let you order the component you need 

anytime, anywhere. We provide round-the-clock emergency phone support

to assist you remotely when dealing with unexpected situations. You can rely 

on our wealth of experience and proven expertise to help you resolve any 

type of electrical component issue you may encounter.
        </p>
        <br><h4>
            Pricing No Rival Can Beat
        </h4>
        <p>
          Replenishing your industrial electrical supply with AIES means great savings. 

As a proud member of the IMARK Group, we are able to keep our prices

friendly to all businesses of different budgets. We are confident that none of

our competitors can match our pricing.
        </p>
		<p>
		Let us be your partner to keep your industrial facility operational all the time 

with a complete stock of electrical supply. Contact us today for inquiries.
		</p>
	</div>
{% endblock %}			
    