{% extends "_base3.html" %}
{% block title %}Linecard | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES offers a broad range of parts &amp; services from renowned brands to meet your electricity demands. Find out our offerings by downloading our line card.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Linecard, electrical parts, manufacturers, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Linecard</a></h1>{% endblock %}
{% block bodyclass %}<body class="linecard"> {% endblock %}
<!-- Primary Page Layout================================================== -->
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


    <h2 class="titles">Linecard</h2>
    <br />
		
	<div class="row" style="text-align:center">
        <p style="font-weight: bold; margin-bottom: 10px;">
            <a href="static/pdf/Linecard_All_Industrial_Electric_Supply.pdf">To download click here</a>
        </p>
		<img src="static/images/Linecard_All_Industrial_Electric_Supply.jpg" alt="All Industrial Electric Supply Line Card">
	</div>
 {% endblock %}