{% extends "_base3.html" %}
{% block title %}Newsletters | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES offers a range of information including electrical products and reviews.  Our newsletters provide electrical industry information and news.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Newsletters, newsletter, electrical industry news, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Newsletters</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">Newsletters</h2>
    <br />

    <div class="row spacer pages">
        <h4>
            <a href="http://eepurl.com/fWInn" target="_blank" title="Sign Up for Our Newsletter">Sign Up for Our Newsletter</a>
        </h4>
		<br>
		<p>
            06/23/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/Protect-Yourself-from-Arc-Flash-with-Cementex-Backpack-Kit-Available-at-AIES.htm" title="Protect Yourself from Arc Flash with Cementex's Backpack Kit, Available at AIES!">Protect Yourself from Arc Flash with Cementex's Backpack Kit, Available at AIES!</a>
        </p>
        <br>
        <p>
            06/10/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/AIES-replacement-for-GE-SP-T8-lamps.htm" title="GE Stops Manufacturing SP T8 lamps on 7/14. Call AIES for Replacement Options!">GE Stops Manufacturing SP T8 lamps on 7/14. Call AIES for Replacement Options!</a>
        </p>
        <br>
		<p>
            05/30/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/AIES-circuit-breakers.htm" title="Summer Heat Tripping Your Circuit Breakers? Call AIES!">Summer Heat Tripping Your Circuit Breakers? Call AIES!</a>
        </p>
        <br>
		<p>
            05/20/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/new-cable-cutter-counter-day.htm" title="Check out Ideal's New Cable Cutter at All Industrial's Counter Day 5/27!">Check out Ideal's New Cable Cutter at All Industrial's Counter Day 5/27!</a>
        </p>
        <br>
        <p>
            04/30/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/need-a-charging-station-for-your-electrical-vehicles.html" title="Need A Charging Station for Your Electrical Vehicles?">Need A Charging Station for Your Electrical Vehicles?</a>
        </p>
        <br>
        <p>
            04/15/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/share-your-tips-to-win-the-klein-tools-tradesman-pro-organizer-8-inch-tote-bag.html" title="Share Your Tips to Win the Klein Tools Tradesman Pro Organizer 8-inch Tote Bag!">Share Your Tips to Win the Klein Tools Tradesman Pro Organizer 8-inch Tote Bag!</a>
        </p>
        <br>
        <p>
            03/28/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/aies-thanks-craig-kehne-for-10-years-of-service.html" title="AIES Thanks Craig Kehne for 10 Years of Service.">
AIES Thanks Craig Kehne for 10 Years of Service.</a>
        </p>
        <br>
        <p>
            03/14/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/all-industrial-electric-supply-15-percent-off-klein-glow-in-the-dark-tools-st-patricks-day.html" title="Go Green on St. Patrick's Day! 15% Off Klein's Glow-in-the-Dark Tools">
Go Green on St. Patrick's Day! 15% Off Klein's Glow-in-the-Dark Tools</a>
        </p>
        <br>
        <p>
            03/05/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/rab-and-dialight-led-fixtures-all-industrial-electric-supply.html" title="Make Your Office More Productive with RAB and Dialight's LED fixtures.">
Make Your Office More Productive with RAB and Dialight's LED fixtures.</a>
        </p>
        <br>
        <p>
            02/21/2014 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/all-industrial-electric-supply-authorized-stocking-distributor-thomas-betts.html" title="AIES is now an Authorized Stocking Distributor of Thomas & Betts.">
AIES is now an Authorized Stocking Distributor of Thomas & Betts.</a>
        </p>                       
        <br>
        <p>
            12/26/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/emergi-lite-exit-signs.html" title="All Industrial Electric Supply is now carrying Emergi-Lite's Universal Edge-Lit Exit Signs.">
All Industrial Electric Supply is now carrying Emergi-Lite's Universal Edge-Lit Exit Signs.</a>
        </p>

        <br>
        <p>
            12/16/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/all-industrial-electric-supply-authorized-stocking-distributor-lutron-electronics.html" title="AIES is now an Authorized Stocking Distributor of Lutron Electronics.">
AIES is now an Authorized Stocking Distributor of Lutron Electronics.</a>
        </p>
        <br>
        <p>
            11/18/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/luneras-helen-lamp.html" title="Lunera's Helen Lamp in Stock! Plug-and-play LED replacement for CFL downlights.">
Lunera's Helen Lamp in Stock! Plug-and-play LED replacement for CFL downlights.</a>
        </p>
        <br>
        <p>
            10/31/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/tired-of-tangled-wires.html" title="All Industrial Has Southwire's Spool-Proof SIMpull CoilPAK in Stock!">
All Industrial Has Southwire's Spool-Proof SIMpull CoilPAK in Stock!</a>
        </p>
        <br>
        <p>
            10/01/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/leviton-medical-grade-power-strips.html" title="Leviton's Medical Grade Power Strips: Ultimate Protection for Sensitive Electronics!">
Leviton's Medical Grade Power Strips: Ultimate Protection for Sensitive Electronics!</a>
        </p>
        <br />                
        <p>
            09/05/2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/klein-tools-ET510-borescope.html" title="Need a Borescope for Inspection Work? Check out Klein's ET510!">
Need a Borescope for Inspection Work? Check out Klein's ET510!</a>
        </p>
        <br />
        <p>
            07-23-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/limited-time-discount-leviton-meters.html" title="Are You Ready for Title 24?">
Are You Ready for Title 24?</a>
        </p>
        <br />
        <p>
            06-11-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/need-a-portable-led-light-for-your-job-site.html">
                Need a Portable LED Light for Your Job Site?
            </a>
        </p>
        <br />
        <p>
            05-10-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/may-is-national-electrical-safety-month.html">
                May is National Electrical Safety month -- 20% off safety products from AIES!
            </a>
        </p>
        <br />
        <p>
            05-02-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/replace-your-fluorescent-lamps-with-led-in-four-easy-steps.html">
                Replace your fluorescent lamps with LED in four easy steps!
            </a>
        </p>
        <br />
        <p>
            04-11-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/introducing-bridgeport.html" title="Introducing Bridgeport.">
                Introducing Bridgeport.            </a>
        </p>
        <br />
        <p>
            03-21-2013 &nbsp;&nbsp;&nbsp;
            <a href="_newsletters/now-in-stock-robroy-klein-tools-yaskawa.html" title="Now In Stock: Robroy, Klein Tools, Yaskawa.">
                Now In Stock: Robroy, Klein Tools, Yaskawa.
            </a>
        </p>
        <br />
    </div>
  {% endblock %}