{% extends "_base3.html" %}
{% block title %}Now in Stock | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES stocks common electrical products in our warehouse for your electrical needs.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Stock, inventory, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Now in Stock</a></h1>{% endblock %}
{% block bodyclass %}<body class="services"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles" style="text-align:center">Now in Stock</h2>
    <br />

	<div class="row spacer pages">
        <table>
            <tr>
                <td>
                    <img src="images/3b.jpg" alt="" />
                </td>
                <td style="width:480px;text-align:left;">
                    Plasti-Bond PVC-coated galvanized rigid conduit and fittings provide unequaled corrosion protection. Manufactured in the U.S.A., ISO 9001-certified Plasti-Bond complies with all standards mandated by UL6, NEMA RN-1 and ANSI C80.1. Plasti-Bond (a subdivision of Robroy Industries) is ETL-Verified for product performance and reliable longevity ten or more times longer than brands that are not ETL-Verified.
                </td>
                <td>
                    <img src="images/3p.jpg" alt="" />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/2b.jpg" alt="" />
                </td>
                <td style="width:480px;text-align:left;">
                    Klein Tools is the #1 choice among professional tradesmen. It manufactures more than 3,000 tools and accessories, including pliers, cable and bolt cutters, wire strippers, voice-data-video tools and testers, fish tapes, conduit benders, drill bits, insulated tools, gloves and many other high-quality products. Klein Tools' dedication to quality and innovation continues with products available for professional tradesmen worldwide.
                </td>
                <td>
                    <img src="images/2p.jpg" alt="" />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/1b.jpg" alt="" />
                </td>
                <td style="width:480px;text-align:left;">
                    Yaskawa manufactures industrial control and automation products. It offers industrial AC drives, commercial HVAC drives, spindle drives and motors, servo systems and motion controllers, medium voltage switches, breakers, contactors, and low voltage industrial control products. It serves automotive, building automation, chemical/petrochemical, converting, food and beverage, machine tool, material handling, metal forming, packaging, pharmaceutical, plastics and rubber, and textile industries.
                </td>
                <td>
                    <img src="images/1p.jpg" alt="" />
                </td>
            </tr>
        </table>
	</div>
	{% endblock %}