{% extends "_base3.html" %}
{% block title %}Press Releases | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES press releases.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Press, news, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Press</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">Press releases</h2>
    <br>

    <div class="row spacer pages">
        <p>
            07-08-2013 &nbsp;&nbsp;&nbsp;
            <a href="_press/tesla-praises-aies-for-emergency-deliveries.html" title="Tesla Praises All Industrial Electric Supply for Emergency Deliveries">
                Tesla Praises All Industrial Electric Supply for Emergency Deliveries
            </a>
        </p>
        <br>
        <p>
            04-30-2013 &nbsp;&nbsp;&nbsp;
            <a href="_press/aies-supports-san-jose-based-recovery-center.html" title="All Industrial Electric Supply Supports San Jose-based Recovery Center">
                All Industrial Electric Supply Supports San Jose-based Recovery Center
            </a>
        </p>
        <br>
    </div>
{% endblock %}