{% extends "_base3.html" %}
{% block title %}Services | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES offers a range of electrical services, from parts to energy audits. We have a combination of price and top tier service for your electricity needs.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Services, repair services, service, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Services</a></h1>{% endblock %}
{% block bodyclass %}<body class="services"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">Services</h2>
    <br />

	<div class="row spacer pages">
        <h4>Access to Electrical Parts Solutions - 24 hours a day</h4>
        <p>We have a large inventory of electrical parts that are available to order 24 hours a day. As part of this customer commitment, All Industrial Electric Supply (AIES):</p>
        <p style="margin-left:10px;">
            - Maintains about $7.5 million stock inventory
            <br />
            - Distributes parts from multiple vendors at preferred pricing
            <br />
            - Holds an inventory of obsolete parts
            <br />
            - Provides on-call 24-hour emergency phone support
        </p>
        <br><h4>Repair Services that Reduce Your Total Cost</h4>
        <p>
            One of the unique services that AIES offers is the ability to help you save money by repairing, rather than replacing certain parts like Circuit Breakers, Variable-Frequency Drives and PLCs (Programmable Logic Controllers). Unlike other parts suppliers that can only sell you a new replacement part, AIES can assess, repair, recalibrate, and re-certify existing drives, boards, and controls, often at a fraction of the replacement cost.
        </p>
        <br><h4>
            Inventory Stockroom Management
        </h4>
        <p>
            At AIES, we understand the difficulty of maintaining an adequate inventory of parts. As part of our services, we will come to your stockroom and provide inventory audits to ensure you have the necessary stock of electrical parts.
        </p>
        <br><h4>
            Energy and Lighting Audits
        </h4>
        <p>
            Energy spending has become a major expense to industrial companies, with energy spending accounting for approximately 10% or more of the average facility's expenses. This growing trend should only continue as energy costs continue to rise. At AIES, we suggest the best ways to improve energy efficiency for your company through extensive energy audits that help increase your bottom line.
        </p>
        <br><h4>
            Fuse Audits
        </h4>
        <p>
            At AIES, we conduct fuse audits to consolidate your fuse inventory and we also maintain $200,000 worth of fuse inventory to minimize your downtime.
        </p>
	</div>
	{% endblock %}