{% extends "_base3.html" %}
{% block title %}Meet the Sales Team | All Industrial Electric Supply {% endblock %}
{% block description %}
<meta name="description" content="AIES has a highly skilled, professional, sales staff to assist you with your electrical application needs.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Application, engineering, specification, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Team</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}


        <h2 class="titles">Meet the Sales Team</h2>
        <div class="row">
            <div class="eight columns team">
                <img src="images/Alex_Vaysberg.jpg" alt="Alex Vaysberg" class="three columns ">
                <p class="five columns">
                    <span><strong>Name:</strong> Alex Vaysberg</span>
                    <span><strong>Job:</strong> President</span>
                    <span><strong>Years with AIES:</strong> 9 years</span>
                    <span><strong>I love working at AIES because</strong> of our customers, employees and suppliers.</span>
                    <span><strong>When I’m not at AIES, I like to</strong> spend time with my three awesome kids and beautiful wife.</span>
                    <a href="mailto:alex@aies.com">Contact Alex</a>
                </p>
            </div>
            <div class="eight columns team">
                <img src="images/Bryan_Bartlett.jpg" alt="Alex Vaysberg" class="three columns ">
                <p class="five columns">
                    <span><strong>Name:</strong> Bryan Bartlett</span>
                    <span><strong>Job:</strong> VP of Sales and Marketing</span>
                    <span><strong>Years with AIES:</strong> Just Started!</span>
                    <span><strong>I love working at AIES because</strong> of the people!</span>
                    <span><strong>When I’m not at AIES, I like to</strong> spend time with my family, windsurf and fly model planes.</span>
                    <a href="mailto:bbartlett@aies.com">Contact Bryan</a>
                </p>
            </div>
        </div>
        <div class="row">
           <div class="eight columns team">
            <img src="images/Jack_Smith.jpg" alt="Jack Smith" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Jack Smith</span>
                <span><strong>Job:</strong> Outside Sales</span>
                <span><strong>Years with AIES:</strong> 6 years</span>
                <span><strong>I love working at AIES because</strong> of the breadth of manufacturers we supply.</span>
                <span><strong>When I’m not at AIES, I like to</strong> play golf.</span>
                <a href="mailto:jack@aies.com">Contact Jack</a>
            </p>
        </div>
        <div class="eight columns team">
            <img src="images/Zack_Isla.jpg" alt="Zack Isla" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Zack Isla</span>
                <span><strong>Job:</strong> Outside Sales</span>
                <span><strong>Years with AIES:</strong> 5½ years</span>
                <span><strong>I love working at AIES because</strong> of the customer-first mindset throughout the company. We also have great support from the owner and upper management.</span>
                <span><strong>When I’m not at AIES, I like to</strong> spend time with my little daughters and girlfriend, play and watch sports and listen to all types of music.</span>
                <a href="mailto:Zack@aies.com">Contact Zack</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns team">
            <img src="images/Ryan_Nicholson.jpg" alt="Ryan Nicholson" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Ryan Nicholson</span>
                <span><strong>Job:</strong> Outside Sales</span>
                <span><strong>Years with AIES:</strong> 6 years</span>
                <span><strong>I love working at AIES because</strong> of the family environment.</span>
                <span><strong>When I’m not at AIES, I like to</strong> be a husband, father and golfer.</span>
                <a href="mailto:Ryan@aies.com">Contact Ryan</a>
            </p>
        </div>
        <div class="eight columns team">
          <img src="images/Tony_Shepherd.png" alt="Tony Shepherd" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Tony Shepherd</span>
                <span><strong>Job:</strong> Counter Sales</span>
                <span><strong>Years with AIES:</strong> 1 year</span>
                <span><strong>I love working at AIES because</strong> of the friendly environment.</span>
                <span><strong>When I’m not at AIES, I like to</strong> watch movies.</span>
                <a href="mailto:tshepherd@aies.com">Contact Tony</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns team">
            <img src="images/Nick_Abbott.jpg" alt="Nick Abbott" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Nick Abbott</span>
                <span><strong>Job:</strong> Inside Sales</span>
                <span><strong>Years with AIES:</strong> 9 years</span>
                <span><strong>I love working at AIES because</strong> of the company’s loyalty to its customers and employees.</span>
                <span><strong>When I’m not at AIES, I like to</strong> play hockey, BBQ and spend time with my wife and dog.</span>
                <a href="mailto:Nick@aies.com">Contact Nick</a>
            </p>
        </div>
        <div class="eight columns team">
            <img src="images/Jeff_Bourquin.png" alt="Jeff Bourquin" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Jeff Bourquin</span>
                <span><strong>Job:</strong> Inside Sales</span>
                <span><strong>Years with AIES:</strong> 1 year</span>
                <span><strong>I love working at AIES because</strong> of the customers.</span>
                <span><strong>When I’m not at AIES, I like to</strong> play hockey, play the drums and hang with friends.</span>
                <a href="mailto:Jeff@aies.com">Contact Jeff</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns team">
            <img src="images/Dillon_Krouse.png" alt="Dillon Krouse" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Dillon Krouse</span>
                <span><strong>Job:</strong> Inside Sales</span>
                <span><strong>Years with AIES:</strong> 8~9 years</span>
                <span><strong>I love working at AIES because</strong> of the great management.</span>
                <span><strong>When I’m not at AIES, I like to</strong> play hockey, go on hikes and listen to music.</span>
                <a href="mailto:Dillon@aies.com">Contact Dillon</a>
            </p>
        </div>
        <div class="eight columns team">
            <img src="images/Armando_Zarco.png" alt="Armando Zarco" class="three columns ">
            <p class="five columns">
                <span><strong>Name:</strong> Armando Zarco</span>
                <span><strong>Job:</strong> Lighting Projects/Inside Sales</span>
                <span><strong>Years with AIES:</strong> 3 years</span>
                <span><strong>I love working at AIES because</strong> of the learning experience.</span>
                <span><strong>When I’m not at AIES, I like to</strong> spend time with my family and two boys.</span>
                <a href="mailto:Armando@aies.com">Contact Armando</a>
            </p>
      </div>
    </div>
   {% endblock %}