{% extends "_base3.html" %}
{% block title %}Testimonials | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES is always willing to go the extra mile for our customers.  Read what customers are telling the world about AIES' team and service.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Testimonials, what people say, clients, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Testimonials</a></h1>{% endblock %}
{% block bodyclass %}<body class="services"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">Testimonials</h2>
    <br />

	<div class="row spacer pages">
        <p>
            <span>“</span> Nick/Zack, I wanted to send over a quick note thanking you guys for busting your tails getting my department anything and everything we need. Also, getting me anything and everything in the most impossible of time frames. I genuinely appreciate the hard work and it has helped me out of more binds than you guys can imagine. <span>”</span>
        </p>
        <p>
            <i>
            — Tesla Motors, 5/22/2013
            </i>
        </p>
        <br />
        <p>
            <span>“</span> I am taking the liberty of emailing you about Jessica Pignati.  I deal with over 3,800 customers in North America and she is one of the most diligent, capable, and fun people I have the privilege of working with. She is responsive and always up to date on All Industrial’s account with Elite Lighting. <span>”</span>
        </p>
        <p>
            <i>
            — Daniel Lubin, Credit Manager, Elite Lighting Corp, 5/24/2013
            </i>
        </p>
        <br />
        <p>
            <span>“</span> Everything worked out well and the elevators were back online just after 5 a.m. Thank you very much for all your assistance! Couldn't have done it without you. <span>”</span>
        </p>
        <p>
            <i>
            — William Wong, Sutter Health 4/8/2013
            </i>
        </p>
        <br />
        <p>
            <span>“</span> I have been quite pleased with your quick turnaround of the request for quotes I send. When dealing with the high volume of orders I have to process, it makes my job a little easier. <span>”</span>
        </p>
        <p>
            <i>
            — Clara Douglas, Buyer, Covanta Renewable Energy
            </i>
        </p>
        <br />
        <p>
            <span>“</span> AIES has the best prices. I cannot find prices better. They make my job easier by locating the parts (obsolete or not) and delivering them. AIES does all the legwork for me. <span>”</span>
        </p>
        <p>
            <i>
            — Don Parker, Electrical Shop Supervisor, Central Sanitation
            </i>
        </p>
        <br />
        <p>
			<span>“</span> Your staff works hard at providing cost quotes with competitive pricing and has facilitated ‘lunch and learn’ training sessions for the City of Tracy PW-Utilities Department maintenance staff. <span>”</span>
        </p>
        <p>
            <i>
            — Bill Tapia, Facilities Manager, City of Tracy Waste Water
            </i>
        </p>
        <br />
        <p>
            <span>“</span> Your staff has been completely 1000% positive and helped me after I placed an (emergency) cold call … they went out of their way to do everything in the most professional manner possible. Can’t thank you enough. <span>”</span>
        </p>
        <p>
            <i>
            — Jason Burke, Owner, JB services
            </i>
        </p>
        <br />
        <p>
            <span>“</span> Whether it’s a standard stocking item or of the wall item, All Industrial always finds a way to come through on time and at the right price!! The best customer service from the delivery driver to the owner and everyone in between. THANKS ALL INDUSTRIAL!! <span>”</span>
        </p>
        <p>
            <i>
            — Aaron Roach, Phoenix Electric 2/26/2013
            </i>
        </p>
	</div>
{% endblock %}