{% extends "_base3.html" %}
{% block title %}Videos | All Industrial Electric Supply{% endblock %}
{% block description %}
<meta name="description" content="AIES can help you make a sound decision before buying. We have a library of videos that feature effective electricity tips and in-depth product reviews.">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Videos, electric supply, all industrial electric supply">
{% endblock %}
{% block h1 %}<h1 id="logo"><a href="http://www.allindustrialsupply.com" title="All Industrial Electric Supply">Videos</a></h1>{% endblock %}
{% block bodyclass %}<body class="about"> {% endblock %}
{% block containerclass %}<div class="container gray">{% endblock %}  <!-- Begin container -->
{% block bodycontent %}

    <h2 class="titles">Videos</h2>
    <br />

    <div class="row spacer pages">
        <div class="yt-video-row">
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/kHlFd7zyuIc" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>Meet All Industrial Electric Supply</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/HaQkdOK3gac" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>Tool Care Tips from All Industrial Electric Supply</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/loXgEZdOCas" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>RAB and Dialight LED Fixtures from All Industrial Electric Supply</span>
            </div>
        </div>
        <div class="yt-video-row">
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/H6civMEtFOw" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>Lunera's Helen Lamp from All Industrial Electric Supply</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/b8sOPXK-VHw" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>All Industrial Electric Supply: Leviton Medical-Grade Power Strip</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/3VkzsZHHB_s" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>All Industrial Electric Supply: Klein Tools ET510 Borescope</span>
            </div>
        </div>
        <div class="yt-video-row">
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/Jy2tEYQ1CWQ" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>All Industrial Electric Supply: CEP's Portable LED Work Light</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/QKE-v59zQnk" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>All Industrial Electric Supply: LED T5 T8 Tube Lights For Fluorescent Replacement, NO WIRING</span>
            </div>
            <div class="yt-video five columns">
                <iframe class="ytube" width="280" height="225" src="//www.youtube.com/embed/WI4Kxw0Vulo" frameborder="0" allowfullscreen></iframe><br><br style="clear:both">
                <span>All Industrial Electric Supply: Bridgeport MIGHTY-RITE® Split Ground Bushing</span>
            </div>
        </div>
    </div>
   {% endblock %}